<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post">

{% include navigation.html %}

<div id="main" role="main">
  <div id="exercise-wrapper">
        <h2>{{ page.title }}</h2>
        <h3>{{ page.date | date: "%B %d, %Y" }}</h3>
      </header>

<div class="instructions">
{% if page.instructions %}{{ page.instructions }}{% endif %}
</div>

<div class="session-instructions">
<p>Do each Station 3 times</p>

<p>Routine is:
<ol>
<li>{{ page.tabata-time}} second exercise</li>
<li>{{ page.tabata-time}} second exercise</li>
<li>{{ page.tabata-time}} second exercise</li>
</ol>
{{ page.rest-time }} second rest

<ol>
<li>{{ page.tabata-time}} second exercise</li>
<li>{{ page.tabata-time}} second exercise</li>
<li>{{ page.tabata-time}} second exercise</li>
</ol>
{{ page.rest-time }} second rest

{{ page.tabata-time}} second exercise
{{ page.tabata-time}} second exercise
{{ page.tabata-time}} second exercise

{{ page.recovery-time }} second rest

Move to next station
</p>
</div>

<div class="station-title">Station 1</div>
<!-- exercise 1 -->
<div class="exercise-right">

{% if page.ex1 %}

        {% assign ex1 = page.ex1 %}

        {% for post in site.categories.exercises %}
          {% if post.code == ex1 %}
                <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          {% endif %}
        {% endfor %}

{% endif %}
</div> 
<br style="clear: both;" />
<!-- end exercise 1 -->

<!-- exercise 2 -->
<div class="exercise-right">

{% if page.ex2 %}

        {% assign ex2 = page.ex2 %}

        {% for post in site.categories.exercises %}
          {% if post.code == ex2 %}
                <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          {% endif %}
        {% endfor %}

{% endif %}
</div> 
<br style="clear: both;" />
<!-- end exercise 2 -->

<!-- exercise  -->
<div class="exercise-right">

{% if page.ex3 %}

        {% assign ex3 = page.ex3 %}

        {% for post in site.categories.exercises %}
          {% if post.code == ex3 %}
                <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          {% endif %}
        {% endfor %}

{% endif %}
</div> 
<br style="clear: both;" />
<!-- end exercise 3 -->


</div> <!-- #exercise-wrapper -->


</div><!-- /#main -->

{% include scripts.html %}	 


</body>
</html>
