<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post">

{% include navigation.html %}

<div id="main" role="main">
  <div id="exercise-wrapper">
        <h2>{{ page.title }}</h2>
        <h3>{{ page.date | date: "%B %d, %Y" }}</h3>
      </header>

<div class="instructions">
{% if page.instructions %}{{ page.instructions }}{% endif %}
</div>

<!-- exercise 1 -->
<div class="exercise-right">

{% if page.warm-up %}

        {% assign warm-up = page.warm-up %}

        {% for post in site.categories.exercises %}
          {% if post.code == warm-up %}
              <div class="exercise-number">Warm Up</div>
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          {% endif %}
        {% endfor %}

{% endif %}
</div> 
<br style="clear: both;" />
<!-- end exercise 1 -->


<!-- exercise 1 -->
<div class="exercise-right">

{% if page.exercise-1 %}

        {% assign exercise-1 = page.exercise-1 %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-1 %}
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">Tabata 1</div>
              {% if page.exercise-1b %}
               <div class="exercise-number">A</div>
              {% endif %}
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          {% endif %}
        {% endfor %}

{% endif %}

<!-- exercise 1b -->
{% if page.exercise-1b %}
        
        {% assign exercise-1b = page.exercise-1b %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-1b %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">B</div>
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

</div> 
<br style="clear: both;" />
<!-- end exercise 1 -->

<!-- exercise 2 -->
<div class="exercise-right">

{% if page.exercise-2 %}
        
        {% assign exercise-2 = page.exercise-2 %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-2 %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">Tabata 2</div>
              {% if page.exercise-2b %}
               <div class="exercise-number">A</div>
              {% endif %}
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

<!-- exercise 2b -->
{% if page.exercise-2b %}
        
        {% assign exercise-2b = page.exercise-2b %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-2b %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">B</div>
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

</div> 
<br style="clear: both;" />
<!-- end exercise 2 -->

<!-- exercise 3 -->
<div class="exercise-right">

{% if page.exercise-3 %}
        
        {% assign exercise-3 = page.exercise-3 %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-3 %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">Tabata 3</div>
             {% if page.exercise-3b %}
               <div class="exercise-number">A</div>
              {% endif %}
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

<!-- exercise 3b -->
{% if page.exercise-3b %}
        
        {% assign exercise-3b = page.exercise-3b %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-3b %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">B</div>
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

</div> 
<br style="clear: both;" />
<!-- end exercise 3 -->

<!-- exercise 4 -->
<div class="exercise-right">

{% if page.exercise-4 %}
        
        {% assign exercise-4 = page.exercise-4 %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-4 %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">Tabata 4</div>
             {% if page.exercise-4b %}
               <div class="exercise-number">A</div>
              {% endif %}
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

<!-- exercise 4b -->
{% if page.exercise-4b %}
        
        {% assign exercise-4b = page.exercise-4b %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-4b %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">B</div>
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

</div> 
<br style="clear: both;" />
<!-- end exercise 4 -->

<!-- exercise 5 -->
<div class="exercise-right">

{% if page.exercise-5 %}
        
        {% assign exercise-5 = page.exercise-5 %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-5 %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">Tabata 5</div>
            {% if page.exercise-5b %}
               <div class="exercise-number">A</div>
              {% endif %}
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

<!-- exercise 5b -->
{% if page.exercise-5b %}
        
        {% assign exercise-5b = page.exercise-5b %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-5b %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">B</div>
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

</div> 
<br style="clear: both;" />
<!-- end exercise 5 -->

<!-- exercise 6 -->
<div class="exercise-right">

{% if page.exercise-6 %}
        
        {% assign exercise-6 = page.exercise-6 %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-6 %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">Tabata 6</div>
              {% if page.exercise-6b %}
               <div class="exercise-number">A</div>
              {% endif %}
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

<!-- exercise 6b -->
{% if page.exercise-6b %}
        
        {% assign exercise-6b = page.exercise-6b %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-6b %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">B</div>
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

</div> 
<br style="clear: both;" />
<!-- end exercise 6 -->

<!-- exercise 7 -->
<div class="exercise-right">

{% if page.exercise-7 %}
        
        {% assign exercise-7 = page.exercise-7 %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-7 %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">Tabata 7</div>
              {% if page.exercise-7b %}
               <div class="exercise-number">A</div>
              {% endif %}
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

<!-- exercise 7b -->
{% if page.exercise-7b %}
        
        {% assign exercise-7b = page.exercise-7b %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-7b %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">B</div>
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

</div> 
<br style="clear: both;" />
<!-- end exercise 7 -->

<!-- exercise 8 -->
<div class="exercise-right">

{% if page.exercise-8 %}
        
        {% assign exercise-8 = page.exercise-8 %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-8 %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">Tabata 8</div>
              {% if page.exercise-8b %}
               <div class="exercise-number">A</div>
              {% endif %}
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

<!-- exercise 8b -->
{% if page.exercise-8b %}
        
        {% assign exercise-8b = page.exercise-8b %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-8b %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">B</div>
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

</div> 
<br style="clear: both;" />
<!-- end exercise 8 -->

<!-- exercise 9 -->
<div class="exercise-right">

{% if page.exercise-9 %}
        
        {% assign exercise-9 = page.exercise-9 %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-9 %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">Tabata 9</div>
              {% if page.exercise-9b %}
               <div class="exercise-number">A</div>
              {% endif %}
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

<!-- exercise 9b -->
{% if page.exercise-9b %}
        
        {% assign exercise-9b = page.exercise-9b %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-9b %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">B</div>
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

</div> 
<br style="clear: both;" />
<!-- end exercise 9 -->

<!-- exercise 10 -->
<div class="exercise-right">

{% if page.exercise-10 %}
        
        {% assign exercise-10 = page.exercise-10 %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-10 %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">Tabata 10</div>
              {% if page.exercise-10b %}
               <div class="exercise-number">A</div>
              {% endif %}
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

<!-- exercise 10b -->
{% if page.exercise-10b %}
        
        {% assign exercise-10b = page.exercise-10b %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-10b %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">B</div>
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

</div> 
<br style="clear: both;" />
<!-- end exercise 10 -->

<!-- exercise 11 -->
<div class="exercise-right">

{% if page.exercise-11 %}
        
        {% assign exercise-11 = page.exercise-11 %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-11 %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">Tabata 11</div>
              {% if page.exercise-11b %}
               <div class="exercise-number">A</div>
              {% endif %}
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

<!-- exercise 11b -->
{% if page.exercise-11b %}
        
        {% assign exercise-11b = page.exercise-11b %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-11b %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">B</div>
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

</div> 
<br style="clear: both;" />
<!-- end exercise 11 -->

<!-- exercise 12 -->
<div class="exercise-right">

{% if page.exercise-12 %}
        
        {% assign exercise-12 = page.exercise-12 %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-12 %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">Tabata 12</div>
              {% if page.exercise-12b %}
               <div class="exercise-number">A</div>
              {% endif %}
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

<!-- exercise 12b -->
{% if page.exercise-12b %}
        
        {% assign exercise-12b = page.exercise-12b %}

        {% for post in site.categories.exercises %}
          {% if post.code == exercise-12b %}
          <p>
            <div class="exercise-image"><img src="/images/exercises/{{post.image}}" width="200"></div>
              <div class="exercise-number">B</div>
                <div class="exercise-title">{{post.title}}</div>
                <div class="exercise-description">{{ post.content | markdownify }}</div>
                <br style="clear: both;" />
          </p>
          {% endif %}
        {% endfor %}

{% endif %}

</div> 
<br style="clear: both;" />
<!-- end exercise 12 -->







</div> <!-- #exercise-wrapper -->


</div><!-- /#main -->

{% include scripts.html %}	 

 <footer>This is my footer!</footer>


</body>
</html>
